{% extends "base.html.twig" %}

{% block content %}
<! -- //////////////////////////////MAIN START//////////////////////////////////////// -->
<main class="container">
    <div class="row mb-3">
        <div class="col-lg-3 col-sm-6">
            <div class="border-card-hover">
                <div class="card-game">
                    <div>
                        <img class="img-library me-3" src="/assets/img/games/god_of_war.jpg" alt="god of war">
                        <h1 class="card-title mt-3">God of war</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="border-card-hover">
                <div class="card-game">
                    <div>
                        <img class="img-library me-3" src="/assets/img/games/god_of_war.jpg" alt="god of war">
                        <h1 class="card-title mt-3">God of war</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="border-card-hover">
                <div class="card-game">
                    <div>
                        <img class="img-library me-3" src="/assets/img/games/god_of_war.jpg" alt="god of war">
                        <h1 class="card-title mt-3">God of war</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="border-card-hover">
                <div class="card-game">
                    <div>
                        <img class="img-library me-3" src="/assets/img/games/god_of_war.jpg" alt="god of war">
                        <h1 class="card-title mt-3">God of war</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-3 col-sm-6">
            <div class="border-card-hover">
                <div class="card-game">
                    <div>
                        <img class="img-library me-3" src="/assets/img/games/god_of_war.jpg" alt="god of war">
                        <h1 class="card-title mt-3">God of war</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="border-card-hover">
                <div class="card-game">
                    <div>
                        <img class="img-library me-3" src="/assets/img/games/god_of_war.jpg" alt="god of war">
                        <h1 class="card-title mt-3">God of war</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="border-card-hover">
                <div class="card-game">
                    <div>
                        <img class="img-library me-3" src="/assets/img/games/god_of_war.jpg" alt="god of war">
                        <h1 class="card-title mt-3">God of war</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="border-card-hover">
                <div class="card-game">
                    <div>
                        <img class="img-library me-3" src="/assets/img/games/god_of_war.jpg" alt="god of war">
                        <h1 class="card-title mt-3">God of war</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<! -- //////////////////////////////MAIN END//////////////////////////////////////// -->
{% endblock %}