{% extends 'base.html.twig' %}

{% block content %}
<main class="container white-page">
    <div class="section">
        <div class="d-flex align-items-center mb-3">
            <h1 class="t-section">Liste des utilisateurs en base de données</h1>
            <span></span>
        </div>
        <table class="table text-white mb-3">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>blabla</td>
                    <td>blabla</td>
                    <td>blabla</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}