<!DOCTYPE html>
<html>
   {{ include('modules/head.html.twig') }}
    <body>
        {% block header %}
            {{ include('modules/header.html.twig') }}
        {% endblock %}


        {% block content %}
        
        {% endblock %}

        {% block footer %}
            {{ include('modules/footer.html.twig') }}
        {% endblock %}
    </body>
</html>