@import "variables.scss";

/* //////////////////// BODY START///////////////////////////////////*/

body {
    background-color: $background;
    color: $text;
    font-family: "Roboto";
    font-size: 18px;
}

/* //////////////////// BODY END///////////////////////////////////*/
