/* //////////////////// FONT START///////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* //////////////////// FONT END///////////////////////////////////*/

/* //////////////////// IMPORT START///////////////////////////////////*/
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "variables.scss";
@import "body.scss";
@import "header.scss";
@import "footer.scss";

/* //////////////////// IMPORT END///////////////////////////////////*/

/* //////////////////// MAIN START///////////////////////////////////*/

main {

    /* Slideshow container */
    .slideshow-container {
        width: 100%;
        position: relative;
    }
  
    /* Hide the images by default */
    .mySlides {
        display: none;
    }
  
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: $white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        text-decoration: none;
    }
  
    .img-carousel {
        border-radius: 20px;
        width: 100%;
    }
  
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
  
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: $background;
        color: $white;
    }
  
    /* Caption text */
    .text {
        color: $white;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
  
    /*Fading animation*/
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: 0}
        to {opacity: 100}
    }
    
    @keyframes fade {
        from {opacity: 0}
        to {opacity: 100}
    }

    img.carousel {
        border-radius: 20px;
        max-width: 100%;
    }

    div.section {
        margin-bottom: 50px;
    }

    h1.t-section {
        position: relative;
        font-size: 22px;
        font-weight: 700;
        color: $white;

        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            height: 2px;
            width: 100%;
            background: $gradient-tl;
            border-radius: 2px;
        }
    }

    /* //////////////////// DISCOVERIES START///////////////////////////////////*/

    h2.t-discoveries {
        font-size: 20px;
        font-weight: 500;
    }

    img.img-discoveries {
        border-radius: 20px;
        max-width: 100%;
        margin-bottom: 10px;
    }

    div.discoveries-card {
        background-color: $background;
        border-radius: 20px;
        padding: 10px;
    }

    div.border-discoveries-card {
        padding: 5px;

        &:hover {
            border-radius: 20px;
            background: $gradient-43deg;
            padding: 5px;
            color: $white;
        }
    }

    /* //////////////////// DISCOVERIES END///////////////////////////////////*/

    /* //////////////////// MIDSECTION START///////////////////////////////////*/

    div.border-midsection-card {
        padding: 5px;

        &:hover {
            border-radius: 20px;
            background: $gradient-43deg;
            padding: 5px;
            color: $white;
        }
    }

    img.img-midsection {
        border-radius: 10px;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    
    div.midsection-card {
        background-color: $background;
        border-radius: 20px;
        padding: 10px;
    }
    
    div.vertical-line {
        background: $gradient;
        border-radius: 5px;
        padding: 3px;
    }

    /* //////////////////// MIDSECTION END///////////////////////////////////*/

}
/* //////////////////// MAIN END///////////////////////////////////*/
