/* //////////////////// VARIABLES START///////////////////////////////////*/

$white: #FFFFFF;
//$background: #424242;
$background: #373737;
$background-hf: #292133;
$text: #7E7E7E;
$gradient: linear-gradient(#17A6E2, #E84284);
$gradient-tl: linear-gradient(to left, #17A6E2, #E84284);
$gradient-43deg: linear-gradient(43deg, #17A6E2, #E84284);

/* //////////////////// VARIABLES END///////////////////////////////////*/
