<header class="sticky-top p-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="ms-2 d-flex">
            <div>
                <a href="">
                    <img class="logo" src="/assets/img/logo/logo_nebula_no_name_55px.png" alt="logo nebula">
                    <img class="logo" src="/assets/img/logo/logo_nebula_name_100px.png" alt="logo nebula">
                </a>
            </div>
            <form class="d-flex align-items-center">
                <div class="border-button">
                    <input class="form-control" type="search" placeholder="Chercher" aria-label="Search">
                </div>
                <a class="menu ms-3" type="submit">Chercher</a>
            </form>
        </div>
        <div class="me-2">
            <a class="menu" href="/">Boutique</a>
            <a class="menu" href="/profil">Compte</a>
            <a class="menu" href="/login">Connexion</a>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a class="menu me-2" href="/users">Liste des utlisateurs</a>
        <a class="menu me-2" href="/list">Liste des jeux</a>
        <a class="menu me-2" href="/new">Ajouter un jeu</a>
    </div>
</header>

