<header class="sticky-top p-3">
    <! -- //////////////////////////////NAVBAR BOOTSRAP START//////////////////////////////////////// -->

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid">
            <a href="">
                <img class="logo" src="/assets/public/img/logo/logo_nebula_no_name_55px.png" alt="logo nebula">
                <img class="logo" src="/assets/public/img/logo/logo_nebula_name_100px.png" alt="logo nebula">
            </a>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <form class="d-flex align-items-center">
                    <div class="border-button">
                        <input class="form-control" type="search" placeholder="Chercher" aria-label="Search">
                    </div>
                    <a class="menu ms-3" type="submit">Chercher</a>
                </form>
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="menu me-2" aria-current="/" href="/">Boutique</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="menu" href="/profil">Compte</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="menu" href="/login">Connexion</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="menu" href="/users">Liste des utilisateurs</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="menu" href="/list">Liste des jeux</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="menu" href="/new">Ajouter un jeu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <! -- //////////////////////////////NAVBAR BOOTSRAP END//////////////////////////////////////// -->

    <! -- //////////////////////////////NAVBAR MINE START//////////////////////////////////////// -->

    {# <div class="d-flex justify-content-between align-items-center">
        <div class="ms-2 d-flex">
            <div>
                <a href="">
                    <img class="logo" src="/assets/img/logo/logo_nebula_no_name_55px.png" alt="logo nebula">
                    <img class="logo" src="/assets/img/logo/logo_nebula_name_100px.png" alt="logo nebula">
                </a>
            </div>
            <form class="d-flex align-items-center">
                <div class="border-button">
                    <input class="form-control" type="search" placeholder="Chercher" aria-label="Search">
                </div>
                <a class="menu ms-3" type="submit">Chercher</a>
            </form>
        </div>
        <div class="me-2">
            <a class="menu" href="/">Boutique</a>
            <a class="menu" href="/profil">Compte</a>
            <a class="menu" href="/login">Connexion</a>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a class="menu me-2" href="/users">Liste des utlisateurs</a>
        <a class="menu me-2" href="/list">Liste des jeux</a>
        <a class="menu me-2" href="/new">Ajouter un jeu</a>
    </div> #}
    <! -- //////////////////////////////NAVBAR MINE END//////////////////////////////////////// -->

</header>
