{% extends 'base.html.twig' %}

{% block content %}
<! -- //////////////////////////////MAIN START//////////////////////////////////////// -->
<main class="container white-page">
    <div class="section border-card2">
        <div class="card-game2">
            <h1 class="card-title text-center">Contact</h1>

            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <div class="border-button">
                        <input type="email" class="form-control" id="email"
                            aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="firstname" class="form-label">Prénom</label>
                        <div class="border-button">
                            <input type="text" class="form-control" id="firstname" placeholder="">
                        </div>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="name" class="form-label">Nom</label>
                        <div class="border-button">
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="textarea" class="form-label">Votre message</label>
                    <div class="border-button">
                        <textarea class="form-control" id="textarea"></textarea>
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-end">
                    <a href="">
                        <div class="border-button">
                            <button class="button ps-5 pe-5">
                                Envoyer
                            </button>
                        </div>
                    </a> </div>
            </form>
        </div>
    </div>
</main>
<! -- //////////////////////////////MAIN END//////////////////////////////////////// -->
{% endblock %}