{% extends "base.html.twig" %}
{% block content %}
<! -- //////////////////////////////MAIN START//////////////////////////////////////// -->
<main class="container">
    <! -- //////////////////////////////CAROUSEL START//////////////////////////////////////// -->
        <div class="section">
            <div class="slides-container">
                <div class="slider">
                    <div class="active cont-img position-relative">
                        <a href="/game">
                            <img class="img-carousel" src="/assets/img/games/god_of_war.jpg" alt="">
                            <div class="position-absolute ms-5 top-50 carousel-text">
                                <div class="d-flex justify-content-start mb-lg-3 mb-md-1">
                                    <img class="logo-game" src="/assets/img/games/god_war_logo.png"
                                        alt="">
                                </div>
                                <p class="date">
                                    Disponible le 14/01/2022
                                </p>
                                <p>
                                    Incarné de nouveau Kratos dans ce nouvel opus de la série
                                    mondialement connu: God of War.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="cont-img position-relative">
                        <a href="/game">
                            <img class="img-carousel" src="/assets/img/games/genshin_impact.jpg" alt="">
                            <div class="position-absolute ms-5 top-50 carousel-text">
                                <div class="d-flex justify-content-start mb-lg-3 mb-md-1">
                                    <img class="logo-game" src="/assets/img/games/god_war_logo.png"
                                        alt="">
                                </div>
                                <p class="date">
                                    Déja disponible
                                </p>
                                <p>
                                    Partez à l'aventure à travers Teyvat pour retrouver votre famille et
                                    obtenir des réponses auprès des Sept, les dieux de chaque élément.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="cont-img position-relative">
                        <a href="/game">
                            <img class="img-carousel" src="/assets/img/games/Kena_BOS_GameArt.jpg"
                                alt="">
                            <div class="position-absolute ms-5 top-50 carousel-text">
                                <div class="d-flex justify-content-center mb-3">
                                    <img class="logo-game" src="/assets/img/games/god_war_logo.png"
                                        alt="">
                                </div>
                                <p class="date">
                                    Déjà disponible
                                </p>
                                <p>
                                    Incarnez Kena, partez à l’aventure et développez une équipe de
                                    compagnons-esprits charmants appelés les Rots.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <! -- //////////////////////////////CAROUSEL END//////////////////////////////////////// -->

            <! -- //////////////////////////////DISCOVERIES START//////////////////////////////////////// -->
                <div class="section">
                    <div class="d-flex align-items-center mb-3">
                        <h1 class="t-section me-3 ">Découvertes</h1>
                        <a href="">
                            <div class="border-button">
                                <button class="button ps-5 pe-5">Voir plus</button>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        {% for game in games %}
                        <div class="border-card-hover col-lg-6 col-md-12">
                            <div class="card-game">
                                <img class="img-discoveries"
                                    src="/assets/img/games/final_fantasy_intergrade.jpeg"
                                    alt="Final Fantasy">
                                <h2 class="t-game">{{game.name}}</h2>
                                <p class="">Le classique intemporel FINAL FANTASY® VII REMAKE INTERGRADE
                                    est de retour avec une aventure, des graphismes et un système de
                                    combat inédits.</p>
                                <p class="">{{game.price}} €</p>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <div class="border-card-hover col-lg-6 col-md-12">
                            <div class="card-game">
                                <img class="img-discoveries"
                                    src="/assets/img/games/Kena_BOS_GameArt.jpg" alt="Kena">
                                <h2 class="t-game">Kena: Bridge of Spirits</h2>
                                <p class="">Incarnez Kena, partez à l’aventure et développez une équipe
                                    de compagnons-esprits charmants appelés les Rots.</p>
                                <p class="">39,99 €</p>
                            </div>
                        </div>
                    </div>
                </div>
                <! -- //////////////////////////////DISCOVERIES
                    END//////////////////////////////////////// -->

                    <! -- //////////////////////////////MIDSECTION
                        START//////////////////////////////////////// -->
                        <div class="section row justify-content-between">
                            <! -- //////////////////////////////NEW RELEASES
                                START//////////////////////////////////////// -->
                                <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12">
                                    <div class="d-flex align-items-center mb-3">
                                        <h1 class="t-section me-3 ">Nouvelles sorties</h1>
                                        <a href="">
                                            <div class="border-button">
                                                <button class="button ps-3 pe-3">Voir plus</button>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="border-card-hover">
                                        <div class="d-flex align-items-center card-game">
                                            <img class="img-midsection me-3"
                                                src="/assets/img/games/god_of_war.jpg" alt="god of war">
                                            <div>
                                                <h2 class="t-game">God of War</h2>
                                                <p>49,99 €</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-card-hover">
                                        <div class="d-flex align-items-center card-game">
                                            <img class="img-midsection me-3"
                                                src="/assets/img/games/god_of_war.jpg" alt="god of war">
                                            <div>
                                                <h2 class="t-game">God of War</h2>
                                                <p>49,99 €</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-card-hover">
                                        <div class="d-flex align-items-center card-game">
                                            <img class="img-midsection me-3"
                                                src="/assets/img/games/god_of_war.jpg" alt="god of war">
                                            <div>
                                                <h2 class="t-game">God of War</h2>
                                                <p>49,99 €</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-card-hover">
                                        <div class="d-flex align-items-center card-game">
                                            <img class="img-midsection me-3"
                                                src="/assets/img/games/god_of_war.jpg" alt="god of war">
                                            <div>
                                                <h2 class="t-game">God of War</h2>
                                                <p>49,99 €</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-card-hover">
                                        <div class="d-flex align-items-center card-game">
                                            <img class="img-midsection me-3"
                                                src="/assets/img/games/god_of_war.jpg" alt="god of war">
                                            <div>
                                                <h2 class="t-game">God of War</h2>
                                                <p>49,99 €</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <! -- //////////////////////////////NEW RELEASES
                                    END//////////////////////////////////////// -->

                                    <div class="vr vertical-line col-1 mx-auto"></div>

                                    <! -- //////////////////////////////BEST SELLS
                                        START//////////////////////////////////////// -->
                                        <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12">
                                            <div class="d-flex align-items-center mb-3">
                                                <h1 class="t-section me-3 ">Meilleures ventes</h1>
                                                <a href="">
                                                    <div class="border-button">
                                                        <button class="button ps-3 pe-3">Voir
                                                            plus</button>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="border-card-hover">
                                                <div class="d-flex align-items-center card-game">
                                                    <img class="img-midsection me-3"
                                                        src="/assets/img/games/god_of_war.jpg"
                                                        alt="god of war">
                                                    <div>
                                                        <h2 class="t-game">God of War</h2>
                                                        <p>49,99 €</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-card-hover">
                                                <div class="d-flex align-items-center card-game">
                                                    <img class="img-midsection me-3"
                                                        src="/assets/img/games/god_of_war.jpg"
                                                        alt="god of war">
                                                    <div>
                                                        <h2 class="t-game">God of War</h2>
                                                        <p>49,99 €</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-card-hover">
                                                <div class="d-flex align-items-center card-game">
                                                    <img class="img-midsection me-3"
                                                        src="/assets/img/games/god_of_war.jpg"
                                                        alt="god of war">
                                                    <div>
                                                        <h2 class="t-game">God of War</h2>
                                                        <p>49,99 €</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-card-hover">
                                                <div class="d-flex align-items-center card-game">
                                                    <img class="img-midsection me-3"
                                                        src="/assets/img/games/god_of_war.jpg"
                                                        alt="god of war">
                                                    <div>
                                                        <h2 class="t-game">God of War</h2>
                                                        <p>49,99 €</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-card-hover">
                                                <div class="d-flex align-items-center card-game">
                                                    <img class="img-midsection me-3"
                                                        src="/assets/img/games/god_of_war.jpg"
                                                        alt="god of war">
                                                    <div>
                                                        <h2 class="t-game">God of War</h2>
                                                        <p>49,99 €</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <! -- //////////////////////////////BEST SELLS
                                            END//////////////////////////////////////// -->

                                            <div class=" vr vertical-line col-1 mx-auto"></div>

                                            <! -- //////////////////////////////FUTURE RELEASES
                                                START//////////////////////////////////////// -->
                                                <div class="col-xl-4 col-lg-12">
                                                    <div class="d-flex align-items-center mb-3">
                                                        <h1 class="t-section me-3 ">Prochaines sorties
                                                        </h1>
                                                        <a href="">
                                                            <div class="border-button">
                                                                <button class="button ps-2 pe-2">Voir
                                                                    plus</button>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="border-card-hover">
                                                        <div
                                                            class="d-flex align-items-center card-game">
                                                            <img class="img-midsection me-3"
                                                                src="/assets/img/games/god_of_war.jpg"
                                                                alt="god of war">
                                                            <div>
                                                                <h2 class="t-game">God of War</h2>
                                                                <p>Disponible le 14/01/22</p>
                                                                <p>49,99 €</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-card-hover">
                                                        <div
                                                            class="d-flex align-items-center card-game">
                                                            <img class="img-midsection me-3"
                                                                src="/assets/img/games/god_of_war.jpg"
                                                                alt="god of war">
                                                            <div>
                                                                <h2 class="t-game">God of War</h2>
                                                                <p>Disponible le 14/01/22</p>
                                                                <p>49,99 €</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-card-hover">
                                                        <div
                                                            class="d-flex align-items-center card-game">
                                                            <img class="img-midsection me-3"
                                                                src="/assets/img/games/god_of_war.jpg"
                                                                alt="god of war">
                                                            <div>
                                                                <h2 class="t-game">God of War</h2>
                                                                <p>Disponible le 14/01/22</p>
                                                                <p>49,99 €</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-card-hover">
                                                        <div
                                                            class="d-flex align-items-center card-game">
                                                            <img class="img-midsection me-3"
                                                                src="/assets/img/games/god_of_war.jpg"
                                                                alt="god of war">
                                                            <div>
                                                                <h2 class="t-game">God of War</h2>
                                                                <p>Disponible le 14/01/22</p>
                                                                <p>49,99 €</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-card-hover">
                                                        <div
                                                            class="d-flex align-items-center card-game">
                                                            <img class="img-midsection me-3"
                                                                src="/assets/img/games/god_of_war.jpg"
                                                                alt="god of war">
                                                            <div>
                                                                <h2 class="t-game">God of War</h2>
                                                                <p>Disponible le 14/01/22</p>
                                                                <p>49,99 €</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <! -- //////////////////////////////BEST SELLS
                                                    END//////////////////////////////////////// -->

                        </div>
                        <! -- //////////////////////////////MIDSECTION
                            END//////////////////////////////////////// -->

                            <! -- //////////////////////////////DISCOVERIES
                                START//////////////////////////////////////// -->
                                <div class="section">
                                    <div class="d-flex align-items-center mb-3">
                                        <h1 class="t-section me-3 ">Découvertes</h1>
                                        <a href="">
                                            <div class="border-button">
                                                <button class="button ps-5 pe-5">Voir plus</button>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div class="border-card-hover col-lg-6 col-sm-12">
                                            <div class="card-game">
                                                <img class="img-discoveries"
                                                    src="/assets/img/games/final_fantasy_intergrade.jpeg"
                                                    alt="Final Fantasy">
                                                <h2 class="t-game">FINAL FANTASY® VII REMAKE INTERGRADE
                                                </h2>
                                                <p>Le classique intemporel FINAL FANTASY® VII REMAKE
                                                    INTERGRADE est de retour avec une aventure, des
                                                    graphismes et un système de combat inédits.</p>
                                                <p>79,99 €</p>
                                            </div>
                                        </div>
                                        <div class="border-card-hover col-lg-6 col-sm-12">
                                            <div class="card-game">
                                                <img class="img-discoveries"
                                                    src="/assets/img/games/Kena_BOS_GameArt.jpg"
                                                    alt="Kena">
                                                <h2 class="t-game">Kena: Bridge of Spirits</h2>
                                                <p>Incarnez Kena, partez à l’aventure et développez une
                                                    équipe de compagnons-esprits charmants appelés les
                                                    Rots. </p>
                                                <p>39,99 €</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <! -- //////////////////////////////DISCOVERIES
                                    END//////////////////////////////////////// -->

</main>
<! -- //////////////////////////////MAIN END//////////////////////////////////////// -->
{% endblock  %}