{% extends 'base.html.twig' %}

{% block content %}
<! -- //////////////////////////////MAIN START//////////////////////////////////////// -->
<main class="container white-page">
    <div class="row justify-content-center">
        <div class="section border-card2 col-4">
            <div class="card-game2">
                <h1 class="card-title text-center">Connexion</h1>
                <form class="mb-3">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <div class="border-button">
                            <input type="email" class="form-control" id="email"
                                aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <div class="border-button">
                            <input type="password" class="form-control" id="password">
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="session">
                        <label class="form-check-label" for="session">Se souvenir de moi</label>
                    </div>
                    <a href="">
                        <div class="border-button-game-page">
                            <button class="button-game-page ps-5 pe-5">
                                Se connecter
                            </button>
                        </div>
                    </a>
                </form>
                <p class="text-center">
                    Vous n'avez pas de compte Nebula ?<br>
                    <a class="connexion" href="/register">Créer un compte</a>
                </p>
            </div>
        </div>
    </div>
</main>
<! -- //////////////////////////////MAIN END//////////////////////////////////////// -->
{% endblock %}